.axisB line{
  stroke: lightgray;
  stroke-width: 2px;
}

.axisB path{
  stroke: lightgray;
  stroke-width: 2px;
  font-family: "Times New Roman"
  font-size: 12px;
}

.axisB text{
  fill: black;
  font-family: "Times New Roman"
  font-size: 12px;
} 

.axisL line{
  stroke: lightgray;
  stroke-width: 2px;
}

.axisL path{
  stroke: lightgray;
  stroke-width: 2px;
}

.axisL text{
  fill: black;
  font-family: "Times New Roman"
  font-size: 12px;
} 
/* SLIDER START */
#slider {
  position: absolute;
  top: 83vh;
  left: 4.5vw;
  width: 90vw;
  height: 15vh;
}

#slider line.track {
  stroke: black;
  stroke-width: 7px;
}

#slider line.track-inset {
  stroke: steelblue;
  stroke-width: 8px;
}
#slider line.track-overlay {
  stroke: white;
  stroke-width: 40px;
  stroke-opacity: 0;
  cursor: pointer;
}
#slider .handle {
  fill: white;
  stroke: black;
  stroke-width: 1.5px;
}
/* SLIDER END */

body {
  margin-bottom: none;
  margin-top: 20px
}

h1 {
  margin: 5px;
  font-size: 25px;
}

h3 {
  font-weight: normal;
  margin: 0;
  font-size: 17px;
}

div.tooltip-help {
     position: absolute;
     text-align: justify;
     padding-left: 15px;
     padding-right: 15px;
     background: white;
     color: black;
     pointer-events: none;
     font-family: "Times New Roman";
     font-size: 13px;
     width: 23vw;
     height: 29vh;
     top: 45vh;
     left: 3vw;
     visibility: visible;
}

div.barchart_title {
     position: absolute;
     text-align: center;
     padding-left: 15px;
     padding-right: 15px;
     background: white;
     color: black;
     pointer-events: none;
     font-family: "Times New Roman";
     font-size: 12px;
     width: 19vw;
     height: 5vh;
     top: 45vh;
     left: 5vw;
     font-style: italic;
     visibility: hidden;
}

div.sources {
     position: absolute;
     text-align: left;
     padding-left: 2px;
     padding-right: 2px;
     background: white;
     color: black;
     font-family: "Times New Roman";
     font-size: 10px;
     width: 100vw;
     height: 4vh;
     top: 93vh;
     left: 1vw;
}

div.tooltip {
    position: absolute;    
    text-align: center;
    padding: 5px;
    font-size: 12px;
    font-family: "Times New Roman"; 
    color: white;
    background: gray;
    border: 0px;    
    border-radius: 8px; 
    pointer-events: none;
}

.background {
  fill: none;
  stroke: lightgray;
  stroke-width: 2.5px;
  pointer-events: all;
}

.zoom rect {
  stroke: lightgrey;
  stroke-width: 2px;
  fill: lightgrey;
  cursor: pointer;
}

.zoom text {
  font-size: 11px;
  font-family: "Times New Roman"
  fill: black;
  pointer-events: none;
  cursor: pointer;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.button rect {
  stroke: lightgrey;
  stroke-width: 2px;
  fill: lightgrey;
  cursor: pointer;
}

.button rect.pressed {
  fill: darkgray; 
  cursor: pointer;
}

.button text {
  font-size: 11px;
  font-family: "Times New Roman"
  fill: black;
  pointer-events: none;
  cursor: pointer;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.toggles_background {
  fill: none;
  pointer-events: all;
}

#map{
    position: absolute;
    top: 15vh;
    left: 30vw;
    width: 65vw;
    height: 65vh;
}

#key{
    position: absolute;
    top: 14vh;
    left: 5vw;
    fill: black;
    width: 25vw;
    height: 30vh;
}

#barchart{
    position: absolute;
    top: 53vh;
    left: 5vw;
    width: 25vw;
    height: 30vh;
} 